*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 50px auto;
  max-width: 900px;
  width: 100%;
  background: linear-gradient(white, rgb(35, 117, 180));
  padding: 40px;
  
}

.smallImg {
  display: flex;
  width: 150px;
  height: 100px;
  margin: 5px;
  border-radius: 10px;

} 

.largeImg {
  border-radius: 10px;
  width: 500px;
  height: 300px;
  margin: 20px auto;

  

}

