button {
    font-family: 'Cardo';
    font-style: normal;
    font-weight: 400;
    font-size: 19px;
    
    width: 222px;
    height: 66px;
   
    background-color: $main-yellow;
    color: $main-blue;
    padding: 18px 52px;
}

.btn-order1 {
    margin: 20px 70px;
}
// .btn-order2 {
//     margin-top: ;
// }

